.carousel-item {
    height: 100%;
}

#carouselLogin {
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.fullPage {
    height: 100vh;
}

.carousel-inner {
    height: 100%;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.carrossel {
    height: 700px;
    width: 475px;
    border-radius: 61px;
    overflow: hidden;
}

.carousel-inner,
.carousel-item,
.item-image {
    height: 100%;
    width: 100%;
}

.item-image {
    object-fit: cover;
    object-position: center;
}

.carousel-indicators [data-bs-target] {
    width: 3px !important;
}

.carousel-control-next {
    justify-content: flex-end;
    align-items: flex-end;
    right: 0;
    width: auto;
    top: auto;
    opacity: 100%;
}

.carousel-control-next .material-symbols-outlined {
    font-size: 50px;
    color: #6f6f6f;
    background-color: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50% 0% 0% 0%;
    align-items: center;
    justify-content: center;
}

.carousel-caption {
    top: 3.25rem;
    bottom: 0;
    right: 29%;
    text-align: start;
}

.carousel-caption p {
    font-size: 13px;
}

.copyright {
    display: flex;
    gap: 7px;
    position: absolute;
    bottom: 3%;
}

.cover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0252BE, transparent, #0252BE);
    pointer-events: none;
}